* {
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.logo_cont {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #0d141c;
  margin-inline-start: 3%;
}
.logo_cont img {
  width: 41px;
  height: 41px;
}
.logo_cont h3 {
  font-weight: 700;
  font-size: 1.3rem;
}
.nav_tags {
  display: flex;
  margin-inline-end: 2%;
  flex: 2;
  align-items: center;
  justify-content: space-evenly;
}
.nav_tags a {
  text-decoration: none;
  color: #0d141c;
  font-weight: 500;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 6px;
  display: inline-block;
}

.nav_tags a:hover {
  transform: translateY(-4px);

  color: #1a80e5; /* soft blue for emphasis */
}
.search {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8edf2;
}
.menu_icon {
  display: none;
}
@media (max-width: 1200px) {
  .nav_tags {
    flex: 3;
  }
}
.sidebar_overlay {
  display: none;
}
.sideBar_con {
  display: flex;
  position: absolute;
  background-color: white;
  width: 50%;
  border-end-end-radius: 20px;
  justify-content: center;
  z-index: 999;
}

@media (max-width: 920px) {
  .nav_tags {
    display: none;
  }
  .menu_icon {
    display: flex;
    margin-inline-end: 5%;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8edf2;
  }
  .search {
    display: none;
  }

  .sidebar_overlay {
    display: flex;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    z-index: 999;
  }

  .sideBar_tags {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 5% 0;
    width: 90%;
  }
  .sideBar_tags a {
    text-decoration: none;
    color: #0d141c;

    font-weight: 500;
  }
  .sideBar_tags div {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-inline-start: 5%;
    height: 3rem;
  }

  .sideBar_tags div:hover {
    background-color: #f0f2f4;
    border-radius: 10px;
  }
  .icon {
    font-size: larger;
  }
  .active {
    background-color: #f0f2f4;
    border-radius: 10px;
  }
}
@media (max-width: 567px) {
  .sideBar_con {
    width: 60%;
  }
}
.translate button {
  height: 2.5rem;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 50%;
  width: 2.5rem;
  background-color: transparent;
  border: none;
  border: 2px solid #1a80e5;
  background-color: #1a80e5;
  color: white;
  transition: scale 0.1s ease-in-out;
}
.translate button:hover {
  scale: 1.05;
}
.translate_side_bar h5 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.nav_tags .isactive {
  color: #1a80e5;
}
